<?xml version="1.0"?>
<config>
    <modules>
        <Dextrous_Addcaptcha>
            <version>1.1.0</version>
        </Dextrous_Addcaptcha>
    </modules>
	<frontend>
        <layout>
            <updates>
                <addcaptcha>
                    <file>dextrous_addcaptcha.xml</file>
                </addcaptcha>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <addcaptcha>
                <class>Dextrous_Addcaptcha_Model</class>
            </addcaptcha>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <addcaptcha>
                        <class>addcaptcha/observer</class>
                        <method>checkContacts</method>
                    </addcaptcha>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <default>
        <captcha>
            <frontend>
                <areas>
                    <contacts>
                        <label>Contacts Page</label>
                    </contacts>
                </areas>
            </frontend>
        </captcha>
        <customer>
            <captcha>
                <always_for>
                    <contacts>1</contacts>
                </always_for>
            </captcha>
        </customer>
    </default>
</config>